In [1]:
print("Hello Data World")

Hello Data World

<img src="images/py.png" id="string" alt="Concept-Alert" style="width: 100px;float:left; margin-right:15px"/>
<br /> 

# Strings
***

Strings are used in Python to record text information, such as name. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "Python' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

<img src="images/python_string.png" id="string" alt="Concept-Alert" style="float:center; "/>
<br/>
<br/>


This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

In [2]:
print("hello")
print() #line space
print("hello world")

hello

hello world

In [3]:
str1 = "hello"
str2 = "world"
# str1[0]
# str1[1]
# str1[2]
# str1[3]
# str1[4]
str1[-5]
str1[-4]
str1[-3]
str1[-2]
str1[-1]
print(str1+' '+str2)
# print(str1 * 10)
print('-' * 10)

hello world
----------



## String Slicing & Indexing
***
**String Indexing** is used to to select the letter at a particular index/position. 

**String Slicing** is a process to select a subset of an entire string

<img src="images/string-slicing-in-python.png" alt="Concept-Alert" style="float:center;" width="600px" height="400px"/> 
<br /> 

The examples of the above stated are as follows

In [4]:
s = "Namaste world"
s[0] # indexing
s[0:7] # slicing
s[0:] # slicing 0 to end
# s[0:7:2] # slicing with step
print('world' in s) # checking if a string is present in another string

True

### **Basic Built in String Python Functions**

In [9]:
a = "hello world"

print(a.upper())
print(a.lower())
print(type(a))

HELLO WORLD
hello world
<class 'str'>

In [12]:
# Formattig

name = "Manan"
age = 25
married = False

print("My name is %s and I am %d years old. %s" % (name, age,married))
print("My name is {} and I am {} years old. {}".format(name, age,married))

print(f"My name is {name} and I am {age} years old. {married}")

My name is Manan and I am 25 years old. False
My name is Manan and I am 25 years old. False
My name is Manan and I am 25 years old. False

# Working with Numbers

In [19]:
#Int and float 

print(2+3)
print(type(2+3)) 
print(type(2+3.2))

5
<class 'int'>
<class 'float'>

In [20]:
2 + 10 * 10 + 3

105

In [25]:
15 * 2 + 10

40

In [ ]:
a = 10 
b = 20 
#mean means average
mean = (a + b) / 2 
print(mean)

15.0



# Lists
***
Lists can be thought of the most general version of a *sequence* in Python. 

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists
    5.) Introduction to List Comprehensions
    
<img src="images/python-list.jpeg" id="list" alt="Concept-Alert" style="float:center; margin-right:15px" width="700px" height="400px"/>
<br /> 

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [28]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
list3 = [11,12,13,14,15]

list4 = [list1,list2,list3]
print(list4)

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10], [11, 12, 13, 14, 15]]

#### Adding element

In [7]:
l = [1,2,2.3,"one",'h']
l.append('e')
print(l)

[1, 2, 2.3, 'one', 'h', 'e']

Difference between append and extend

In [ ]:
l =  [1,2,3]
print(l)
#now if i append and list 
l.append([4,5,6])
print(l)

#look at the output it has whole list as an single index
print(l[3])
# it just append the item not extent the list

[1, 2, 3]
[1, 2, 3, [4, 5, 6]]
[4, 5, 6]

In [ ]:
l = [1,2,3]
l.extend([4,5,6])
l
# now look at the output it extend list

[1, 2, 3, 4, 5, 6]

In [ ]:
l = list(range(10))
l
l[0:2]
l[0:10:2] #start:end:step

[0, 2, 4, 6, 8]


# Dictionaries
***
Now we're going to switch gears and learn about *mappings* called *dictionaries* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Nesting Dictionaries
    4.) Basic Dictionary Methods

<img src="images/dictionaries-in-python.jpeg" id = "dict" alt="Concept-Alert" style="float:center; margin-right:15px" width="600" height="400"/>
<br /> 

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [ ]:
d = dict()
d['name'] = 'Manan'
d['age'] = 25
d['city'] = 'New Delhi'
print(d)

#################################
d2 = {'name': 'Manan', 'age': 25, 'city': 'New Delhi'}
d2

{'name': 'Manan', 'age': 25, 'city': 'New Delhi'}

{'name': 'Manan', 'age': 25, 'city': 'New Delhi'}

In [36]:
d2 = {'name': 'Manan', 'age': 25, 'city': 'New Delhi'}
d2['name'] == 'Manan'

d3 = {'name': 'Manan', 'age': [25,23,2], 'city': ['New Delhi', 'Mumbai']}
d3['age']

d3['age'][0]

d3['name'] += 'Pujara'
d3

d3['contact'] = {'phone': '9876543210', 'email': 'manan@gmail.com'}
d3

{'name': 'MananPujara',
 'age': [25, 23, 2],
 'city': ['New Delhi', 'Mumbai'],
 'contact': {'phone': '9876543210', 'email': 'manan@gmail.com'}}

# Set and Booleans
***
There are two other object types in Python that we should quickly cover. Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

#### Set Theory
<img src="images/sets2.png" width="40%"/>

In [37]:
l = [1,1,1,2,2,2,2,2,4,4,4,4]
l

[1, 1, 1, 2, 2, 2, 2, 2, 4, 4, 4, 4]

In [38]:
l_set = set(l)
l_set

{1, 2, 4}

##### Look above output set remove duplicate values

In [40]:
s = set()
s.add(1)
s

{1}

In [43]:
s.add(2)
s.add(3)
s

{1, 2, 3}

In [ ]:
s.add(2)
s
# it will not add the number 2 to the set

{1, 2, 3}


# Python Tuples
***
Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
t = (1,2,2,2,2,3,4,5,6,7,8,9,10)
t
print(type(t))

<class 'tuple'>

1

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

TypeError: 'tuple' object does not support item assignment

<img src='images/data_struc.png' width="800">